@font-face {
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-family: Regular;
} 

.bigger-font {
    font-size: 90px;
}

main, footer, footer a, main a {
    text-align: center;
    color: rgb(201, 195, 195);
    font-family: Regular;
}

header a {
    color: aliceblue;
    font-family: Regular;
    text-decoration: none;
}

ul li {
    display: inline;
    margin-left: 10px;
}

ul {
    text-align: center;
}

header {
    margin: 0;
    padding: 5px 0;
    background-color: rgb(5, 5, 5);
}

#contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 33, 33);
}
